/* NOTE: Make sure that when you complete your Lab, you leave a comment at the top of this file listing which new properties you used! */
/*
  The new property I used was the filter CSS property, and the drop-shadow functions.
  I added it to my "Register Now" button on hover, like so:

  .button:hover {
    filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--yellow)) drop-shadow(-0.5rem -0.5rem 0.5rem var(--hot-pink));
  }

  Explanation:
  I used multiple filters (i.e. the drop-shadow function twice).
  On hover, it applies a blurred out yellow drop shadow below and to the right of the button on hover
  and it applies a blurred out hot pink drop shadow to the above and to the left of the button on hover.
*/


:root {
  --dk-grey: #263238;
  --hot-pink: #EC407A;
  --yellow: #FDD835;
  --green: #8BC34A;
  --white: #FAFAFA;
}

/* Utility classes */

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-container {
  margin: auto;
  max-width: 40rem;
  padding: 3rem 1rem;
}

header .inner-container {
  padding: unset;
}

/* Typography */

body {
  background-color: var(--white);
  font-family: Nunito, sans-serif;
  color: var(--dk-grey);
  font-weight: 300;
}

h1 {
  color: var(--white);
}

ul li {
  padding-left: 2.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 a,
h2 {
    font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  line-height: 1.5;
}

.hot-pink {
  color: var(--hot-pink)
}

.button {
  background: linear-gradient(270deg, var(--yellow) 0%, var(--hot-pink) 90%);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-weight: 700;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 1rem 0;
}

.button:hover {
  background: var(--hot-pink);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--yellow)) drop-shadow(-0.5rem -0.5rem 0.5rem var(--hot-pink));
}

/* Header & Navigation */
header {
  background-color: var(--dk-grey);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu-icon {
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: lowercase;
}

svg,
header img {
    max-width: 2rem;
}

.first-link {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.first-link img {
  width: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.first-link img {
    display: none;
}

nav {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  background-color: var(--dk-grey);
}

.show-nav {
    max-height: unset;
    overflow: visible;
}

nav li {
  margin: 0.5rem 0;
}

nav li a {
  display: block;
}

nav li a:hover {
  color: var(--hot-pink);
  text-decoration: underline;
}

/* Hero */
main {
  background: url('../img/crowd-background.webp') center / cover;
  min-height: 100vh;
  width: 100%;
  z-index: 0;
}

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.hero-content {
  text-align: center;
  background-color: var(--white);
  max-width: 22rem;
  padding: 1.5rem;
}

.hero-content > h2 {
  padding-top: 1rem;
}

.hero-content > a {
  margin-bottom: 2rem;
}

.hero-content > p {
  padding: 1rem;
}

@media screen and (min-width: 59rem) {
  .wide-flex {
    display: flex;
    align-items: flex-start;
  }

  header div.inner-container {
    max-width: 60rem;
  }

  header div.inner-container > .flex-container {
    flex: 1 0 auto;
  }

  .menu-icon {
    display: none;
  }

  .first-link img {
    display: unset;
  }

  nav {
    justify-content: flex-end;
    position: static;
    overflow: visible;
    white-space: nowrap;
  }

  nav ul li {
    list-style-type: none;
  }

  .main-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .main-menu li {
    position: relative;
  }

  .main-menu > li {
    margin: 1rem;
  }

  .second-tier {
    min-width: 100%;
    background-color: var(--dk-grey);
    position: absolute;
    visibility: hidden;
    text-align:left;
  }

  .main-menu li:hover > .second-tier{
    visibility: visible;
  }

  .second-tier > li {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
}